<div class="row">
  <div class="col-md-3">
    <div class="card text-center bg-light">
      <div class="card-body">
        <h6>Livraison</h6>
        <p class="display-6 text-primary">{{ total_livraison }} <span class="fs-4 fst-italic">T</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center bg-light">
      <div class="card-body">
        <h6>Casse</h6>
        <p class="display-6 text-danger">{{ total_casse }} <span class="fs-4 fst-italic">Sacs</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center bg-light">
      <div class="card-body">
        <h6>Ensachage</h6>
        <p class="display-6 text-success">{{ moyenne_rendement }} <span class="fs-4 fst-italic">T/H</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center bg-light">
      <div class="card-body">
        <h6>Taux_casse</h6>
        <p class="display-6 text-info">{{ moyenne_tx_casse }} <span class="fs-4 fst-italic">%</span></p>
      </div>
    </div>
  </div>
</div>

<hr class="my-4" />
