<div class="col-12 col-md-8 bg-light m-0">
  <div class="table-responsive">
    <table class="table table-bordered border-black table-hover table-sm align-middle text-center mb-0">
      <tbody>
        <tr>
          <th colspan="2" class="bg-light"></th>
          <th class="text-dark bg-success-subtle">Post</th>
          <th class="text-dark bg-orange-100">Conducteur</th>
          <th colspan="2" class="bg-light"></th>
        </tr>

        {# Partie A #}
        <tr>
          <th class="text-dark fw-bolder bg-light">Packing Shift A Leader</th>

          {% if object_post_06h or object_post_06_18h %}
            {% for object in object_pack %}
              {% if object.post.post == '06H-14H' or object.post.post == '06H-18H' %}
                <td class="text-dark bg-info-subtle fw-bolder text-uppercase">
                  {{ object.user.get_full_name|default:'—' }}
                </td>
              {% endif %}
            {% endfor %}
          {% else %}
            <td class="text-dark bg-info-subtle fw-bolder">—</td>
          {% endif %}

          <td class="text-dark bg-light fw-bolder">A</td>

          {% if object_broy_post_06h or object_broy_post_06_18h %}
            {% for object in object_broy %}
              {% if object.post.post == '06H-14H' or object.post.post == '06H-18H' %}
                <td class="text-dark bg-info-subtle fw-bolder text-uppercase">
                  {{ object.user.get_full_name|default:'—' }}
                </td>
              {% endif %}
            {% endfor %}
          {% else %}
            <td class="text-dark bg-info-subtle fw-bolder">—</td>
          {% endif %}

          <th class="text-dark fw-bolder bg-light">Grinding Shift A Leader</th>

          {% if object_broy_post_06h or object_broy_post_06_18h %}
            {% for object in object_broy %}
              {% if object.post.post == '06H-14H' or object.post.post == '06H-18H' %}
                <td class="text-dark bg-info-subtle fw-bolder text-uppercase">
                  {{ object.user.get_full_name|default:'—' }}
                </td>
              {% endif %}
            {% endfor %}
          {% else %}
            <td class="text-dark bg-info-subtle fw-bolder">—</td>
          {% endif %}
        </tr>

        {# Partie B #}
        <tr>
          <th class="text-dark fw-bolder bg-light">Packing Shift B Leader</th>

          {% if object_post_14h %}
            {% for object in object_pack %}
              {% if object.post.post == '14H-22H' %}
                <td class="text-dark bg-info-subtle fw-bolder">
                  {{ object.user.get_full_name|default:'—' }}
                </td>
              {% endif %}
            {% endfor %}
          {% else %}
            <td class="text-dark bg-info-subtle fw-bolder">—</td>
          {% endif %}

          <td class="text-dark bg-light fw-bolder">B</td>

          {% if object_broy_post_14h %}
            {% for object in object_broy %}
              {% if object.post.post == '14H-22H' %}
                <td class="text-dark bg-info-subtle fw-bolder">
                  {{ object.user.get_full_name|default:'—' }}
                </td>
              {% endif %}
            {% endfor %}
          {% else %}
            <td class="text-dark bg-info-subtle fw-bolder">—</td>
          {% endif %}

          <th class="text-dark fw-bolder bg-light">Grinding Shift B Leader</th>

          {% if object_broy_post_14h %}
            {% for object in object_broy %}
              {% if object.post.post == '14H-22H' %}
                <td class="text-dark bg-info-subtle fw-bolder">
                  {{ object.user.get_full_name|default:'—' }}
                </td>
              {% endif %}
            {% endfor %}
          {% else %}
            <td class="text-dark bg-info-subtle fw-bolder">—</td>
          {% endif %}
        </tr>

        {# Partie C #}
        <tr>
          <th class="text-dark fw-bolder bg-light">Packing Shift C Leader</th>

          {% if object_post_22h or object_post_18_06h %}
            {% for object in object_pack %}
              {% if object.post.post == '22H-06H' or object.post.post == '18H-06H' %}
                <td class="text-dark bg-info-subtle fw-bolder text-uppercase">
                  {{ object.user.get_full_name|default:'—' }}
                </td>
              {% endif %}
            {% endfor %}
          {% else %}
            <td class="text-dark bg-info-subtle fw-bolder">—</td>
          {% endif %}

          <td class="text-dark bg-light fw-bolder">C</td>

          {% if object_broy_post_22h or object_broy_post_18_06h %}
            {% for object in object_broy %}
              {% if object.post.post == '22H-06H' or object.post.post == '18H-06H' %}
                <td class="text-dark bg-info-subtle fw-bolder text-uppercase">
                  {{ object.user.get_full_name|default:'—' }}
                </td>
              {% endif %}
            {% endfor %}
          {% else %}
            <td class="text-dark bg-info-subtle fw-bolder">—</td>
          {% endif %}

          <th class="text-dark fw-bolder bg-light">Grinding Shift C Leader</th>

          {% if object_broy_post_22h or object_broy_post_18_06h %}
            {% for object in object_broy %}
              {% if object.post.post == '22H-06H' or object.post.post == '18H-06H' %}
                <td class="text-dark bg-info-subtle fw-bolder text-uppercase">
                  {{ object.user.get_full_name|default:'—' }}
                </td>
              {% endif %}
            {% endfor %}
          {% else %}
            <td class="text-dark bg-info-subtle fw-bolder">—</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 col-md-4 bg-light"></div>
